<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/routine.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <h1 id="routine">Ideal Routine for healthy life - </h1>
        <p> 1.Wake up early <br/>
            2.Drink water before anything else  <br/>
            3.Make time for movement of body  <br/>
            4.Spend time in fresh air / take a walk  <br/>
            5.Eat sitting down if possible  <br/>
            6.Take time to pursue something you like  <br/>
            7.Eat atleast one vegetable/fruit  <br/>
            8.Put your phine away atleast for an hour  <br/>
            9.End the day with clean kitchen, neat workspace  <br/>
            10.Read something  <br/>
            11.Meditate for 10 min <br/>
            12.Go to bed early </p> 
    </div>
    <div>
        <iframe width="420" height="345"
         src="https://www.youtube.com/embed/KiPnKa8wFew"></iframe>
    </div>
</body>
</html>
